body {
  width: 1280px;
  background-color: aquamarine;
  color: red;
  text-align: center;
}
h1{
  width: 100%;
}
.header {
  background-color: greenyellow;
  width: 600px;
  border: 1px solid red;
  border-radius: 10px;
  border: none;
  text-align: center;
}
.center {
  width: 1280px;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.header:hover {
  color: burlywood;
  background-color: black;
  text-align: center;
}

.info {
  border: 2px solid red;
  border-radius: 10px;
  margin: 10px 10px 20px 0px;
  padding: 5px;
  width: 20%;
  height: 300px;
  display: flex;
  text-align: center;
  background-color: blueviolet;
  color: white;
  display:block;
}
.info:hover {
  color: blue;
  background-color: green;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 20%;
  border: 10px dotted greenyellow;
  border-radius: 5px;
  margin: 10px 20px 10px 20px;
  padding: 50px;
}
input:focus {
  color: brown;
  font-size: 18px;
  font-weight: 800;
}
li:last-child {
  color: black;
}
li:nth-child(2n + 1) {
  background-color: coral;
  width: 100%;
}
li:nth-child(2n) {
  color: rosybrown;
  width: 100%;
}
a:visited{
  color:red;
}
.div{
  display:flex;
  justify-content: center;
  align-items: center;
}